* {
    margin: 0;
    padding: 0;
}

canvas {
    background-color: #121212;
    display: block;
}

.block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    opacity: 40%;
    background-color: #212121;
    pointer-events: none;
}